body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.calculator {
    width: 320px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.display {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 60px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #666;
    color: #fff;
    font-size: 1.5rem;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #888;
}

#equal {
    background-color: #ff9500;
}

#equal:hover {
    background-color: #e08700;
}
